.App {
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  max-width: 26.25rem;
  background: #fff;
  border-radius: 4px;
  text-align: center;
}


.input-group .form-control {
  padding-top: .6rem;
  padding-bottom: .6rem;
  width: 50%;
}

.form-control {
  font-size: 24px;
  padding: 20px;
  border: none;
  border-bottom: solid 2px #ddd;

}
.form-control:focus {
  transition: border 0.3s;
  border-bottom: solid 2px #222;
  outline: 0;
}

.add-button {
  padding: 0 10px;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #222;
  border: 0;
  border-radius: 50%;
}

.add-button:focus {
 outline: 0;
}

.task-list {
 padding: 0;
 margin-bottom: 0;
 margin-left: 0;
 overflow: hidden;
 list-style-type: none;
 text-align: left;
}

.task-item {
 padding-top: 0.75rem;
 padding-right: 0.75rem;
 padding-bottom: 0.75rem;
 padding-left: 0.75rem;
 width: 100%;
 background: #fff;
 cursor: default;
 border-top: 1px solid #eee;
 overflow: hidden;
}

.task-item:last-of-type {
 border-bottom: 1px solid #eee;
}

.remover {
 line-height: 1.45;
 color: #222;
 cursor: pointer;
 -webkit-transition: color .25s ease-in-out;
 transition: color .25s ease-in-out;
 width: 20px;
 height: 20px;
 color: #fff;
 background-color: #ddd;
 border: 0;
 border-radius: 50%;
 float: right;
 margin-right: 10%;
 outline: 0;
}

.remover:focus,
.remover:hover {
 background-color: #222;
}
